<section class="advantages">
  <h2 class="visually-hidden">Advantages</h2>
  <div class="container container-centering">
    <ul class="advantages__list">
      <li class="advantages__item">
        <div class="advantages__wrapper">
          <img
            class="advantages__img"
            src="./images/advantages/cow@1x.png"
            srcset="
              ./images/advantages/cow@1x.png 1x,
              ./images/advantages/cow@2x.png 2x,
              ./images/advantages/cow@3x.png 3x
            "
            alt="cow"
          />
        </div>
        <span class="advantages__options">721</span>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <div class="advantages__wrapper">
          <img
            class="advantages__img"
            src="./images/advantages/weight@1x.png"
            srcset="
              ./images/advantages/weight@1x.png 1x,
              ./images/advantages/weight@2x.png 2x,
              ./images/advantages/weight@3x.png 3x
            "
            alt="cow"
          />
        </div>
        <span class="advantages__options">16kg</span>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <div class="advantages__wrapper">
          <img
            class="advantages__img"
            src="./images/advantages/ice-crem@1x.png"
            srcset="
              ./images/advantages/ice-crem@1x.png 1x,
              ./images/advantages/ice-crem@2x.png 2x,
              ./images/advantages/ice-crem@3x.png 3x
            "
            alt="cow"
          />
        </div>
        <span class="advantages__options">84</span>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
