 <section class="contact" id="contacts">
        <div class="container contact__container">
          <h2 class="visually-hidden">Contact</h2>
            <div class="contact__wrapper">
              <ul class="contact__list">
                <li class="contact__item">
                  <address class="contact__address">
                    <p class="contact__title">CAFE</p>
                    <p class="contact__text">Chicago</p>
                    <a class="contact__link contact__link--other-style" href="">
                      10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
                    </a>
                    <ul class="schedule">
                      <li class="scheduli__item">
                        <p class="schedule__text">Monday - Friday</p>
                        <p class="schedule__text schedule__text--other-color">
                          06:00 AM - 10:00 PM
                        </p>
                      </li>
                      <li class="schedule__item">
                        <p class="schedule__text">Saturday - Sunday</p>
                        <p class="schedule__text schedule__text--other-color">
                          08:00 AM - 16:00 PM
                        </p>
                      </li>
                    </ul>
                    <ul class="contact__meta">
                      <li>
                        <a class="contact__link" href="tel:+61(0)383766284"
                          >+61(0) 383 766 284
                        </a>
                      </li>
                      <li>
                        <a class="contact__link" href="maito:noreply@envato.com"
                          >noreply@envato.com</a
                        >
                      </li>
                    </ul>
                  </address>
                </li>
                <li class="contact__item">
                  <address class="contact__address">
                    <p class="contact__title">FOODTRUCK</p>
                    <p class="contact__text">Los Angeles</p>
                    <a class="contact__link contact__link--other-style" href="">
                      1003 Manhattan Ave, Manhattan Beach, CA 90263, USA
                    </a>
                    <ul class="schedule">
                      <li class="scheduli__item">
                        <p class="schedule__text">Monday - Friday</p>
                        <p class="schedule__text schedule__text--other-color">
                          06:00 AM - 10:00 PM
                        </p>
                      </li>
                      <li class="schedule__item">
                        <p class="schedule__text">Saturday - Sunday</p>
                        <p class="schedule__text schedule__text--other-color">
                          08:00 AM - 16:00 PM
                        </p>
                      </li>
                    </ul>
                    <ul class="contact__meta">
                      <li>
                        <a class="contact__link" href="tel:+61(0)383766284"
                          >+61(0) 383 766 284
                        </a>
                      </li>
                      <li>
                        <a class="contact__link" href="maito:noreply@envato.com"
                          >noreply@envato.com</a
                        >
                      </li>
                    </ul>
                  </address>
                </li>
                <li class="contact__item">
                  <address class="contact__address">
                    <p class="contact__title">CAFE</p>
                    <p class="contact__text">New York</p>
                    <a class="contact__link contact__link--other-style" href="">
                      726 Sterling Pl, Brooklyn, NY 11222, USA
                    </a>
                    <ul class="schedule">
                      <li class="scheduli__item">
                        <p class="schedule__text">Monday - Friday</p>
                        <p class="schedule__text schedule__text--other-color">
                          06:00 AM - 10:00 PM
                        </p>
                      </li>
                      <li class="scheduli__item">
                        <p class="schedule__text">Saturday - Sunday</p>
                        <p class="schedule__text schedule__text--other-color">
                          08:00 AM - 16:00 PM
                        </p>
                      </li>
                    </ul>
                    <ul class="contact__meta">
                      <li>
                        <a class="contact__link" href="tel:+61(0)383766284"
                          >+61(0) 383 766 284
                        </a>
                      </li>
                      <li>
                        <a class="contact__link" href="maito:noreply@envato.com"
                          >noreply@envato.com</a
                        >
                      </li>
                    </ul>
                  </address>
                </li>
              </ul>
                <ul class="contact__btn-set">
              <li class="contact__btn-item">
                <button class="btn contact__btn" type="button" data-modal-open-locations>Our Locations</button>
              </li>
              <li class="contact__btn-item">
                <button class="btn-link contact__btn" type="button" data-modal-open-franchise>
                  Franchise
                </button>
              </li>
            </ul>
            </div>
          </div>
        </div>
      </section>