<section class="custmer-review">
  <div class="container container--other-width">
    <h2 class="visually-hidden">custmer review</h2>
    <ul class="custmer-review__list">
      <li class="custmer-review__item">
        <div class="custmer-review__wrapper">
          <picture>
            <source
              srcset="
                ./images/custmer-review/mobail/photo@1x.webp 1x,
                ./images/custmer-review/mobail/photo@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/custmer-review/mobail/photo@1x.jpg 1x,
                ./images/custmer-review/mobail/photo@2x.jpg 2x
              "
            />
            <img
              class="custmer-review__image"
              src="./images/custmer-review/mobail/photo@1x.jpg"
              alt="девушка, брюнетка, 25-30 лет"
            />
          </picture>
        </div>
        <div class="custmer-review__bild">
          <p class="custmer-review__text">
            I love visiting your cafe. You prepare the most delicious ice cream
            in Los Angeles! In addition, you have beautiful serving, cozy
            atmosphere and polite staff.
          </p>
        </div>
        <p class="custmer-review__meta">Emily, Los Angeles</p>
      </li>
      <li class="custmer-review__item">
        <div class="custmer-review__wrapper">
          <picture>
            <source
              srcset="
                ./images/custmer-review/mobail/photo-1@1x.webp 1x,
                ./images/custmer-review/mobail/photo-1@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/custmer-review/mobail/photo-1@1x.jpg 1x,
                ./images/custmer-review/mobail/photo-1@2x.jpg 2x
              "
            />
            <img
              class="custmer-review__image"
              src="./images/custmer-review/mobail/photo-1@1x.jpg"
              alt="девушка, брюнетка, 25-30 лет"
            />
          </picture>
        </div>
        <div class="custmer-review__bild">
          <p class="custmer-review__text">
            I love eating popsicles on a hot day. Yours is always delicious. I
            recommend your cafe to everyone I know.
          </p>
        </div>
        <p class="custmer-review__meta">Sam, Los Angeles</p>
      </li>
      <li class="custmer-review__item">
        <div class="custmer-review__wrapper">
          <picture>
            <source
              srcset="
                ./images/custmer-review/mobail/photo-2@1x.webp 1x,
                ./images/custmer-review/mobail/photo-2@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/custmer-review/mobail/photo-2@1x.jpg 1x,
                ./images/custmer-review/mobail/photo-2@2x.jpg 2x
              "
            />
            <img
              class="custmer-review__image"
              src="./images/custmer-review/mobail/photo-2@1x.jpg"
              alt="девушка, брюнетка, 25-30 лет"
            />
          </picture>
        </div>
        <div class="custmer-review__bild">
          <p class="custmer-review__text">
            Ice cream is my passion! I love your chocolate hazelnut ice cream!
            And I really like the excellent service - always served politely and
            quickly!
          </p>
        </div>
        <p class="custmer-review__meta">Diana, Chicago</p>
      </li>
      <li class="custmer-review__item">
        <div class="custmer-review__wrapper">
          <picture>
            <source
              srcset="
                ./images/custmer-review/mobail/photo-3@1x.webp 1x,
                ./images/custmer-review/mobail/photo-3@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/custmer-review/mobail/photo-3@1x.jpg 1x,
                ./images/custmer-review/mobail/photo-3@2x.jpg 2x
              "
            />
            <img
              class="custmer-review__image"
              src="./images/custmer-review/mobail/photo-3@1x.jpg"
              alt="девушка, брюнетка, 25-30 лет"
            />
          </picture>
        </div>
        <div class="custmer-review__bild">
          <p class="custmer-review__text">
            Every day we come to you with friends after classes in college. We
            love your ice cream and casual atmosphere!
          </p>
        </div>
        <p class="custmer-review__meta">Bryan, New-York</p>
      </li>
    </ul>
  </div>
</section>
