<section class="gallery">
  <h2 class="visually-hidden">gallery</h2>
  <div class="container">
    <ul class="slider-gallery">
      <li class="slider-gallery__item">
        <picture>
          <source
            srcset="
              ./images/gallery/desktop/gallery-2@1x.webp 1x,
              ./images/gallery/desktop/gallery-2@2x.webp 2x,
              ./images/gallery/desktop/gallery-2@3x.webp 3x
            "
            type="images/webp"
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/gallery/tablet/ice-creams@1x.webp 1x,
              ./images/gallery/tablet/ice-creams@2x.webp 2x,
              ./images/gallery/tablet/ice-creams@3x.webp 3x
            "
            type="images/webp"
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/gallery/mobail/ice-creams@1x.webp 1x,
              ./images/gallery/mobail/ice-creams@2x.webp 2x,
              ./images/gallery/mobail/ice-creams@3x.webp 3x
            "
            type="images/webp"
            media="(max-width:767px) "
          />
          <source
            srcset="
              ./images/gallery/desktop/gallery-2@1x.jpg 1x,
              ./images/gallery/desktop/gallery-2@2x.jpg 2x,
              ./images/gallery/desktop/gallery-2@3x.jpg 3x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/gallery/tablet/ice-creams@1x.jpg 1x,
              ./images/gallery/tablet/ice-creams@2x.jpg 2x,
              ./images/gallery/tablet/ice-creams@3x.jpg 3x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/gallery/mobail/ice-creams@1x.jpg 1x,
              ./images/gallery/mobail/ice-creams@2x.jpg 2x,
              ./images/gallery/mobail/ice-creams@3x.jpg 3x
            "
            media="(max-width:767px) "
          />
          <img
            class="gallery__img"
            src="./images/gallery/mobail/ice-creams@1x.jpg"
            alt="ice-creams"
          />
        </picture>
      </li>
      <li class="slider-gallery__item">
        <picture>
          <source
            srcset="
              ./images/gallery/desktop/gallery-1@1x.webp 1x,
              ./images/gallery/desktop/gallery-1@2x.webp 2x,
              ./images/gallery/desktop/gallery-1@3x.webp 3x
            "
            type="images/webp"
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/gallery/tablet/ice-creams@1x.webp 1x,
              ./images/gallery/tablet/ice-creams@2x.webp 2x,
              ./images/gallery/tablet/ice-creams@3x.webp 3x
            "
            type="images/webp"
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/gallery/mobail/ice-creams@1x.webp 1x,
              ./images/gallery/mobail/ice-creams@2x.webp 2x,
              ./images/gallery/mobail/ice-creams@3x.webp 3x
            "
            type="images/webp"
            media="(max-width:767px) "
          />
          <source
            srcset="
              ./images/gallery/desktop/gallery-1@1x.jpg 1x,
              ./images/gallery/desktop/gallery-1@2x.jpg 2x,
              ./images/gallery/desktop/gallery-1@3x.jpg 3x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/gallery/tablet/ice-creams@1x.jpg 1x,
              ./images/gallery/tablet/ice-creams@2x.jpg 2x,
              ./images/gallery/tablet/ice-creams@3x.jpg 3x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/gallery/mobail/ice-creams@1x.jpg 1x,
              ./images/gallery/mobail/ice-creams@2x.jpg 2x,
              ./images/gallery/mobail/ice-creams@3x.jpg 3x
            "
            media="(max-width:767px) "
          />
          <img
            class="gallery__img"
            src="./images/gallery/mobail/ice-creams@1x.jpg"
            alt="ice-creams"
          />
        </picture>
      </li>
      <li class="slider-gallery__item">
        <picture>
          <source
            srcset="
              ./images/gallery/desktop/gallery-3@1x.webp 1x,
              ./images/gallery/desktop/gallery-3@2x.webp 2x,
              ./images/gallery/desktop/gallery-3@3x.webp 3x
            "
            type="images/webp"
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/gallery/tablet/ice-creams@1x.webp 1x,
              ./images/gallery/tablet/ice-creams@2x.webp 2x,
              ./images/gallery/tablet/ice-creams@3x.webp 3x
            "
            type="images/webp"
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/gallery/mobail/ice-creams@1x.webp 1x,
              ./images/gallery/mobail/ice-creams@2x.webp 2x,
              ./images/gallery/mobail/ice-creams@3x.webp 3x
            "
            type="images/webp"
            media="(max-width:767px) "
          />
          <source
            srcset="
              ./images/gallery/desktop/gallery-3@1x.jpg 1x,
              ./images/gallery/desktop/gallery-3@2x.jpg 2x,
              ./images/gallery/desktop/gallery-3@3x.jpg 3x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/gallery/tablet/ice-creams@1x.jpg 1x,
              ./images/gallery/tablet/ice-creams@2x.jpg 2x,
              ./images/gallery/tablet/ice-creams@3x.jpg 3x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/gallery/mobail/ice-creams@1x.jpg 1x,
              ./images/gallery/mobail/ice-creams@2x.jpg 2x,
              ./images/gallery/mobail/ice-creams@3x.jpg 3x
            "
            media="(max-width:767px) "
          />
          <img
            class="gallery__img"
            src="./images/gallery/mobail/ice-creams@1x.jpg"
            alt="ice-creams"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
