/**
  |============================
  | base
  |============================
*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 30;
  overflow-y: scroll;
  backdrop-filter: blur(2px);
  padding-left: 20px;
  padding-right: 20px;

  transition: opacity 500ms $cubic, visibility 500ms $cubic;

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}
.modals {
  position: relative;
  max-width: 568px;

  margin-left: auto;
  margin-right: auto;
  transform: translateY(10vh);
  border: 2px solid $modal-border;
  border-radius: 10px;
  background-color: bgd(card-white);

  @media screen and (max-width: 767px) {
    padding: 28px;
  }

  @media screen and (min-width: 768px) {
    padding: 32px 54px;

    &--big-padding {
      padding-left: 60px;
      padding-right: 60px;
    }

    &--small-padding {
      padding-left: 40;
      padding-right: 40;
    }
  }

  transition: transform 500ms $cubic;

  .backdrop.is-hidden & {
    transform: translate(0, 300%) scale(0.1);
  }
}

// btn
.modals__btn-close {
  position: absolute;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  border: none;
  color: text(second-black);

  @media screen and (max-width: 767px) {
    top: 8px;
    right: 8px;

    &--more-indent {
      top: 28px;
      right: 20px;
    }
  }

  @media screen and (min-width: 768px) {
    top: 20px;
    right: 20px;
  }
}
.modal__icon {
  fill: currentColor;
}

/**
  |============================
  | buy now
  |============================
*/
.modal-cart {
}
.modal-cart__title {
  text-align: center;
  line-height: 1.5;
  text-transform: uppercase;
  color: text(second-black);

  @media screen and (max-width: 767px) {
    margin-bottom: 83px;
    font-size: 16px;
    letter-spacing: 0.04em;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 103px;
    font-size: 20px;
    line-height: 1.4;
  }
}
.form__checkbox-set {
  @media screen and (max-width: 767px) {
    margin-bottom: 24px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    height: 136px;
    margin-bottom: 40px;
  }

  text-align: center;
}
.form__item {
  position: relative;
  width: 132px;
  min-height: 136px;
  margin-left: auto;
  margin-right: auto;

  &:not(:last-child) {
    margin-bottom: 83px;
  }
}
.form__label {
  position: absolute;
  top: 0;
  left: 0;
  height: 136.4px;
  padding-top: 95px;
  width: 132px;
  height: 136px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: text(second-black);

  &--color-green {
    border: 2px solid #96af8c;
    filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
    border-radius: 15.7808px;

    &::before {
      content: '';
      position: absolute;
      width: 132px;
      height: 132px;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      z-index: 5;

      background-size: contain;
      background-position: center;

      background-image: url(../images/modal/buy-now-1@1x.jpg);
      @include retina {
        background-image: url(../images/modal/buy-now-1@2x.jpg);
      }
    }

    &::after {
      content: '';
      position: absolute;
      width: 132px;
      height: 132px;
      top: 0;
      left: 50%;
      transform: translate(-50%, -44%);

      border-radius: 50%;
      background: linear-gradient(
          0deg,
          rgba(156, 190, 143, 0.7),
          rgba(156, 190, 143, 0.7)
        ),
        #d9d9d9;
      box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
    }
    .form__checkbox:checked + & {
      background-color: bgd(product-green);
    }
  }

  &--color-yellow {
    border: 2px solid #efd478;
    box-shadow: 0px 5.26027px 19.726px rgba(212, 20, 67, 0.1);
    border-radius: 15.7808px;

    &::before {
      content: '';
      position: absolute;
      width: 132px;
      height: 132px;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      z-index: 5;

      background-size: contain;
      background-position: center;

      background-image: url(../images/modal/buy-now-2@1x.jpg);
      @include retina {
        background-image: url(../images/modal/buy-now-2@2x.jpg);
      }
    }
    &::after {
      content: '';
      position: absolute;
      width: 132px;
      height: 132px;
      top: 0;
      left: 50%;
      transform: translate(-50%, -44%);

      border-radius: 50%;
      background: linear-gradient(
          0deg,
          rgba(248, 210, 78, 0.7),
          rgba(248, 210, 78, 0.7)
        ),
        #d9d9d9;
      box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
    }
    .form__checkbox:checked + & {
      background-color: bgd(product-yellow);
    }
  }

  &--color-brown {
    border: 2px solid #d6936d;
    filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
    border-radius: 15.7808px;

    &::before {
      content: '';
      position: absolute;
      width: 132px;
      height: 132px;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      z-index: 5;

      background-size: contain;
      background-position: center;

      background-image: url(../images/modal/buy-now-3@1x.jpg);
      @include retina {
        background-image: url(../images/modal/buy-now-3@2x.jpg);
      }
    }

    &::after {
      content: '';
      position: absolute;
      width: 132px;
      height: 132px;
      top: 0;
      left: 50%;
      transform: translate(-50%, -44%);

      border-radius: 50%;
      background: linear-gradient(
          0deg,
          rgba(213, 117, 63, 0.7),
          rgba(213, 117, 63, 0.7)
        ),
        #d9d9d9;
      box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
      box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
    }
    .form__checkbox:checked + & {
      background-color: bgd(product-brown);
    }
  }

  transition: background-color $animation;
}

.form__checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.form__input-set {
  @media screen and (max-width: 767px) {
    margin-bottom: 12px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 16px;
    max-width: 368px;
    margin-left: auto;
    margin-right: auto;
  }
}
.form__field {
  &:not(:last-child) {
    margin-bottom: 12px;
  }
}
.form__input {
  width: 100%;
  @media screen and (max-width: 767px) {
    padding-top: 8px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 7px;

    font-size: 12px;
    line-height: 1.416;
  }

  @media screen and (min-width: 768px) {
    padding: 11px 16px;

    font-size: 14px;
    line-height: 1.428;
  }

  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;

  &::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.416;
    color: text(second-black);
  }

  transition: outline $animation;
}

.form__textarea {
  display: block;
  @media screen and (max-width: 767px) {
    width: 100%;
    height: 67px;
    padding: 8px 12px;
    margin-bottom: 24px;

    font-size: 12px;
    line-height: 1.416;
  }
  @media screen and (min-width: 768px) {
    width: 368px;
    height: 84px;
    padding: 11px 16px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;

    font-size: 14px;
    line-height: 1.428;
  }

  resize: none;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;

  &::placeholder {
    font-size: 12px;
    line-height: 1.416;
    color: #131313;
  }

  transition: outline $animation;
}

.form__btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 34px;

  border-radius: 10px;
  font-weight: 600;

  color: text(second-black);
  border: none;
  background-color: bgd(btn-yellow);

  @media screen and (max-width: 767px) {
    font-size: 12px;
    line-height: 15px;
  }
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.214;
  }
}

/**
  |============================
  | products
  |============================
*/

.modal-products__title {
  max-width: 142px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 184px;

  font-size: 20px;
  line-height: 28px;
  color: text(second-black);
}

.modal-products__list {
  position: relative;
  display: flex;
  justify-content: center;

  @media screen and (max-width: 767px) {
    gap: 9px;
    margin-bottom: 39px;
  }

  @media screen and (min-width: 768px) {
    gap: 21px;
    margin-bottom: 48px;
  }
  &::before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, -24px);
    width: 132px;
    height: 134px;
    z-index: 1;

    background-position: center;
    background-size: contain;
    border-radius: 50%;
    background-image: url(../images/modal/ingrid@1x.jpg);
    @include retina {
      background-image: url(../images/modal/ingrid@2x.jpg);
    }
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, -17px);
    width: 132px;
    height: 138px;

    border-radius: 50%;
    background: linear-gradient(
        0deg,
        rgba(156, 190, 143, 0.7),
        rgba(156, 190, 143, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
  }
}
.modal-products__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 2px solid #9cbe8f;
  border-radius: 40px;

  @media screen and (max-width: 767px) {
    width: 53px;
    height: 73px;
  }

  @media screen and (min-width: 768px) {
    width: 64px;
    height: 90px;
  }
}

.modal-products__quantity {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-style: normal;
  font-weight: 500;

  color: text(second-black);

  background: #9cbe8f;
  border: 2px solid #9cbe8f;
  border-radius: 50%;
  box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);

  @media screen and (max-width: 767px) {
    width: 43px;
    height: 43px;
    margin-bottom: 8px;

    font-size: 10px;
    line-height: 2.8;
  }

  @media screen and (min-width: 768px) {
    width: 53px;
    height: 53px;
    margin-bottom: 7px;

    font-size: 12px;
    line-height: 2.333;
  }
}

.modal-products__text {
  font-size: 10px;
  line-height: 12px;
  color: text(second-black);
  text-align: center;

  &--shift {
    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  &--shift-to {
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
}

.modal-products__undertitle {
  margin-bottom: 24px;

  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: text(second-black);
  text-align: center;
}

.ingredients {
  margin-bottom: 48px;
}

.ingredients__wrapper {
  &:not(:last-child) {
    margin-bottom: 11px;
  }
}
.ingredients__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ingredients__item {
}
.ingredients__text,
.ingredients__quantity {
  font-size: 14px;
  line-height: 1.785;

  letter-spacing: 0.04em;
  color: text(second-black);
}

/**
  |============================
  | locations
  |============================
*/

.modal-locations {
  text-align: center;
}
.modal-locations__title {
  margin-bottom: 20px;

  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: text(second-black);
}

.modal-locations__wrapper {
}

.modal-locations__map {
  width: 100%;
  height: 199px;
  border-radius: 10px;

  @media screen and (max-width: 767px) {
    margin-bottom: 24px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }
}

.modal-locations__link {
  padding: 12px 34px;
  background: #f8d24e;

  font-weight: 600;
  border-radius: 10px;
  @media screen and (max-width: 767px) {
    font-size: 12px;
    line-height: 1.25;
  }
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.214;
  }
}

/**
  |============================
  | about
  |============================
*/

.modal-about {
}

.modal-about__title {
  text-align: center;
  color: text(second-black);

  @media screen and (max-width: 767px) {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 32px;
  }
}

.modal-about__wrapper {
}

.modal-about__video {
  width: 100%;

  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 767px) {
    height: 199px;
    margin-bottom: 20px;
  }
  @media screen and (min-width: 768px) {
    height: 205px;
    margin-bottom: 32px;
  }
}

.modal-locations__text {
  font-size: 14px;
  line-height: 1.428;
  color: text(second-black);
}

.modal-about__text {
  color: text(second-black);

  @media screen and (max-width: 767px) {
    font-size: 14px;
    line-height: 1.428;
  }
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.375;
  }
}

/**
  |============================
  | franchise
  |============================
*/

.modal-franchise {
}
.modal-franchise__title {
  color: text(second-black);
  @media screen and (max-width: 767px) {
    width: 221px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

    font-size: 16px;
    line-height: 1.5;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 322px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;

    font-size: 20px;
    line-height: 28px;
  }
}
.modal-franchise__text {
  color: text(second-black);

  @media screen and (max-width: 767px) {
    margin-bottom: 24px;

    font-size: 14px;
    line-height: 1.4;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 32px;

    font-size: 16px;
    line-height: 1.375;
  }
}
